form {
    max-height: 2.3rem !important;
    max-width: 960px !important;
    box-sizing: none !important;
}

.form-control, .form-control:focus {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    box-sizing: none !important;
}